@font-face {
    font-family: Chequers;
    src: url('./chequers-regular.ttf');
}

body{
    font-family: Chequers;
    background-color: #9fa486;
    color: #ededed;
    /* background-color: rgb(122, 141, 91); */
}

header{
    font-size: 100px;
    text-align: center;
    font-weight: 600;
}
h1{
    font-size: 40px;
    font-weight: normal;
    margin-left: 20px;
    color: white;
}
h2{
    font-size:20px;
}
nav{
     font-size: 30px;
     font-family: Mandala;
}
ul{
    text-decoration: none;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;    
}
li{
    display: inline-block;
    width: fit-content;
    margin: 2px 6px 2px 6px;
    padding: 1px;
}
li a, li a:visited, a:active {
    color: #ededed;
    background-color: #9fa486;
    padding: 2px;
    text-decoration: none;
}
li a:hover{
    color: #c0896a;
    background-color: #ededed;
}
section.menupletra h1::first-letter {
    color: blue;
    font-weight: bold;
}
footer{
    font-size: 30px;
    text-align:center;
}
